body {
  background-color: yellow;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.headline {
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 10px;
  background-color: hotpink;
}

.question-card {
  border: 2px solid black;
  padding: 15px;
  max-width: 90%;
  background-color: rgb(42, 171, 10);
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  display: flex;
}
@media (min-width: 600px) {
  .question-card {
    max-width: 400px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .question-card {
    max-width: 500px;
    padding: 30px;
  }
}

.tag {
  border: 2px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 2px solid #ccc;
}

/* Footer-Icons */
.footer-link img {
  width: 30px;
  height: 30px;
}
